.env
*.sqlite3
db.sqlite3
db_sqlite_dump.json

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtualenv
.venv/
venv/

# Django
media/
staticfiles/

# Local dev logs/scripts
bazar_site/tools/run-logs/
bazar_site/tools/*create_user*.py
bazar_site/tools/create_users.py

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
